@import "tailwindcss";

@custom-variant theme1 (&:where([data-theme=theme1], [data-theme=theme1] *));
@custom-variant theme2 (&:where([data-theme=theme2], [data-theme=theme2] *));
@custom-variant theme3 (&:where([data-theme=theme3], [data-theme=theme3] *));

@theme {
	--color-theme1b0: hsl(222, 26%, 31%);
	--color-theme1b1: hsl(223, 31%, 20%);
	--color-theme1b2: hsl(224, 36%, 15%);
	--color-theme1k0: hsl(225, 21%, 49%);
	--color-theme1k1: hsl(224, 28%, 35%);
	--color-theme1k2: hsl(6, 63%, 50%);
	--color-theme1k3: hsl(6, 70%, 34%);
	--color-theme1k4: hsl(30, 25%, 89%);
	--color-theme1k5: hsl(28, 16%, 65%);
	--color-theme1t0: hsl(221, 14%, 31%);
	--color-theme1t1: hsl(0, 0%, 100%);
	--color-theme2b0: hsl(0, 0%, 90%);
	--color-theme2b1: hsl(0, 5%, 81%);
	--color-theme2b2: hsl(0, 0%, 93%);
	--color-theme2k0: hsl(185, 42%, 37%);
	--color-theme2k1: hsl(185, 58%, 25%);
	--color-theme2k2: hsl(25, 98%, 40%);
	--color-theme2k3: hsl(25, 99%, 27%);
	--color-theme2k4: hsl(45, 7%, 89%);
	--color-theme2k5: hsl(35, 11%, 61%);
	--color-theme2t0: hsl(60, 10%, 19%);
	--color-theme2t1: hsl(0, 0%, 100%);
	--color-theme3b0: hsl(268, 75%, 9%);
	--color-theme3b1: hsl(268, 71%, 12%);
	--color-theme3k0: hsl(281, 89%, 26%);
	--color-theme3k1: hsl(285, 91%, 52%);
	--color-theme3k2: hsl(176, 100%, 44%);
	--color-theme3k3: hsl(177, 92%, 70%);
	--color-theme3k4: hsl(268, 47%, 21%);
	--color-theme3k5: hsl(290, 70%, 36%);
	--color-theme3t0: hsl(52, 100%, 62%);
	--color-theme3t1: hsl(198, 20%, 13%);
	--color-theme3t2: hsl(0, 0%, 100%);
	--font-league-spartan: "League Spartan Variable";
}

#root {
	height: 100vh;
}
